<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<!-- Navigation -->
<nav class="navbar">
  <div class="logo-container">
    <a href="/"> 
      <img class="logo" src="/assets/DishHunt.png" width="350" height="300">
    </a>
  </div>
      
    <div class="nav-links">
      {{#if logged_in}}
      <a href="/dashboard">Profile</a>
      <br>
      <a href="/" id="logout">LogOut</a>
      <br>
      {{else}}
      <a href="/login">LogIn</a>
      {{/if}}
    </div>
  </nav>

  <!-- Main -->
  <main>
    {{{body}}} 
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>