<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar">
<div class="logo">
  <img src="Assets/DishHunt.png">
</div>
    <div class="nav-links">
       {{!-- {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}} --}}
      <a href="#" class="login-link">Login</a>
      <a href="#" class="signup-link">Sign Up</a>
    </div>
  </nav>

  <!-- Main -->
  <main>
    {{{body}}} 
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
