<!DOCTYPE html>
<html>
<head>
  <title>Dashboard - Food and Recipe Sharing</title>
</head>
<body>
  <!-- Menu -->
  <nav>
    <ul>
      <li><a href="#">Saved Recipes</a></li>
      <li><a href="#">Posted Recipes</a></li>
      <li><a href="#">Comments</a></li>
    </ul>
  </nav>

  <!-- Dashboard -->
  <section>
    <!-- need to add content for the different dashboard sections here...??? -->
  </section>

</body>
</html>
