<html>
  <head>
    <title>Dashboard - Food and Recipe Sharing</title>
<link rel="stylesheet" href="/style.css">
  </head>
  <body>

<!-- Menu -->
<nav class="menu-bar">
  <ul>
    <li><a href="#"><span class="emoji">&#x1F60D;</span> Saved Recipes</a></li>
    <li><a href="#"><span class="emoji">&#x1F4DD;</span> Posted Recipes</a></li>
    <li><a href="#"><span class="emoji">&#x1F4DD;</span> Comments</a></li>
  </ul>
</nav>

<!-- Categories  -->
 <section class="categories-section">
    <div class="category-links">
      <a href="/category/main" class="category-link">
        <img src="/assets/main.png" alt="Main" class="category-image">
          <p class="category-name">Main</p>

      </a>
      <a href="/category/soups" class="category-link">
        <img src="/assets/soups.png" alt="Soups" class="category-image">
          <p class="category-name">Soups</p>

      </a>
      <a href="/category/sides" class="category-link">
        <img src="/assets/sides.png" alt="Sides" class="category-image">
          <p class="category-name">Sides</p>

      </a>
            <a href="/category/appetizers" class="category-link">
        <img src="/assets/appetizers.png" alt="Appetizers" class="category-image">
          <p class="category-name">Appetizers</p>
      </a>

      </a>
      <a href="/category/vegetarian" class="category-link">
        <img src="/assets/vegetarian.png" alt="Vegetarian" class="category-image">
          <p class="category-name">Vegetarian</p>
      </a>

      <a href="/category/desserts" class="category-link">
        <img src="/assets/desserts.png" alt="Desserts" class="category-image">
          <p class="category-name">Desserts</p>
      </a>

      <a href="/category/drinks" class="category-link">
        <img src="/assets/drinks.png" alt="Drinks" class="category-image">
        <p class="category-name">Drinks</p>
      </a>

    </div>
  </section>    


  <!-- Search Bar -->
  <div class="search-bar">
    <form action="/search" method="GET">
      <input type="text" name="query" placeholder="Search recipes..." />
      <button type="submit">Search</button>
    </form>
  </div>

<!-- Dashboard -->
<section class="dashboard-container">
  <div class="saved-recipes">
  </div>
</section>

    {{! popup window with a printable recipe from your saved recipes }}
    <script>
      function openPrintablePopup(recipeId) { const recipe =
      recipesData.find((r) => r.id === recipeId); const printablePopup =
      window.open('', '_blank', 'height=500,width=600'); const popupContent =
      Handlebars.templates.printableRecipe(recipe);
      printablePopup.document.write(popupContent);
      printablePopup.document.close(); } const viewRecipeButtons =
      document.querySelectorAll('.view-recipe-btn');
      viewRecipeButtons.forEach((button) => { button.addEventListener('click',
      () => { const recipeId = button.dataset.recipe;
      openPrintablePopup(recipeId); }); });
    </script>
  </body>
</html>