<!DOCTYPE html>
<html>
<head>
  <title>Food and Recipe Sharing</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- Header -->
<header class="header-background" src="assets/blueberry-peach-feta-salad.jpg">
  </header>

<!-- Categories  -->
 <section class="categories-section">
    <div class="category-links">
      <a href="/category/main" class="category-link">
        <img src="/assets/main.png" alt="Main" class="category-image">
          <p class="category-name">Main</p>

      </a>
      <a href="/category/soups" class="category-link">
        <img src="/assets/soups.png" alt="Soups" class="category-image">
          <p class="category-name">Soups</p>

      </a>
      <a href="/category/sides" class="category-link">
        <img src="/assets/sides.png" alt="Sides" class="category-image">
          <p class="category-name">Sides</p>

      </a>
            <a href="/category/appetizers" class="category-link">
        <img src="/assets/appetizers.png" alt="Appetizers" class="category-image">
          <p class="category-name">Appetizers</p>
      </a>

      </a>
      <a href="/category/vegetarian" class="category-link">
        <img src="/assets/vegetarian.png" alt="Vegetarian" class="category-image">
          <p class="category-name">Vegetarian</p>
      </a>

      <a href="/category/desserts" class="category-link">
        <img src="/assets/desserts.png" alt="Desserts" class="category-image">
          <p class="category-name">Desserts</p>
      </a>

      <a href="/category/drinks" class="category-link">
        <img src="/assets/drinks.png" alt="Drinks" class="category-image">
        <p class="category-name">Drinks</p>
      </a>

    </div>
  </section>    

  <!-- Introduction -->
   <div class="welcome-message">
      <p style="font-size: 18px;">
        At Dish Hunt, we're all about sharing the love for food and recipes with our amazing community of foodies. Whether you're a seasoned chef or a cooking enthusiast, you're in the right place!
      <br>
      <br>
        Don't have an account yet? Sign up now to unlock a world of benefits! With a Dish Hunt account, you can save and share your favorite recipes and be part of the culinary conversation by leaving comments on recipes you try.
      <br>
      <br>
        So why wait? Let's embark on a mouthwatering journey together! Feel free to explore and search our vast collection of delicious recipes, and let the culinary adventure begin!
      </p>
      <br>
      <br>
      <p class="cta-message">Ready to get started? Join Dish Hunt now and let the flavors unite!<p>       <br>
      <a href="/signup" class="signup-cta">Sign Up Now!</a>
    </div>
  </main>

  <!-- Footer -->
  <footer>
    <p>&copy; 2023 Dish Hunt. All rights reserved.🧑‍🍳</p>
  </footer>
</body>
</html>
