body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 120px;
}

.login-link-container {
    position: absolu
}

.nav-links a {
    margin-left: 10
}

.header-background {
    background-image: url("assets/blueberry-peach-feta-salad.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 315px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.nav-links a {
    margin-left: 10px;
    text-decoration: underline;
    color: #ff8800;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;

}

.nav-links a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

header {
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* header h3 {
    font-size: 28px;
    px;
}
 */
header h3 {
    font-size: 28px;
}

.welcome-message p {
    color: #1d1b1a;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category-name {
    font-style: italic;
    color: #000000;
    font-family: 'Times';
    font-size: 18px;
    font-weight: bold;
}

.category-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.category-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.category-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.welcome-message {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

.welcome-message h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.welcome-message p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.welcome-message .cta-message {
    font-weight: bold;
}

.signup-cta {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ffffff9f;
    color: #1100ff;
    text-decoration: none;
    border-radius: 1px;
}

.login-container {
    position: relative;
    background-image: url("assets/login-page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-heading {
    font-size: 28px;
    color: #ff8800;
    background-color: #f8f8f8;
    padding-top: 20px;
    text-align: center;
}

.form.login-form {
    background-color: #f8f8f8;
    padding: 0px 75px 50px 50px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.signup-cta {
    background-color: #ff8000 
    padding: 10px;
    border-radius: 5px;
}

.btn {
    padding: 8px 28px;
    background-color: #ff8800;
    color: black;
    font-weight: bold;
}

.btn-large {
    font-size: 15px;
}

.form-large {
    font-size: 16px;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-bar {
    background-color: #000000d0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu-bar li {
    margin-right: 20px;
}

.menu-bar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.emoji {
    margin-right: 5px;
}

.search-bar {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
}

.search-bar form {
    display: inline-block;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 350px;
}

.search-bar button {
    padding: 7px 20px;
    font-size: 16px;
    background-color: #ff8800;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.signup-container {
    position: relative;
    background-image: url("assets/signup-page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form {
    justify-content: center;
    align-items: center;
    height: 35vh;
    /* Ensures the form takes the full height of the viewport */
}

.form.signup-form {
    padding: 0px 75px 110px 50px;
    background-color: #f8f8f8;
    align-text: left;
}
.signup-form .form-group {
    padding: 10px ;
    background-color: #f8f8f8;

}

.signup-form label {
    font-size: 16px;
    font-weight: bold;
}


.signup-form button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff8800;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.centered-heading {
    text-align: center;
    margin-top: 50px;
    /* Adjust the margin as needed for spacing */
}

.centered-heading h2 {
    font-size: 28px;
    color: #ff8800;
    background-color: #f8f8f8;
    padding-top: 20px;
    text-align: center;
}


footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 14px;
}

.wrapper {
    flex: 1;
}